{% extends 'UsersAuth/user_auth_base.html' %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}


<body class="hold-transition register-page">
<div class="register-box">
  <div class="register-logo">
    <img src= "{% static 'essential/logo.png' %}" alt="AdminLTE Logo"  style="width:100px;height:50px;">
    
  </div>

  <div class="card">
    <div class="card-body register-card-body">
      <p class="login-box-msg">Register Employee</p>
    
      <form action="" method="POST">
      {% csrf_token %}
    
        <div class="input-group mb-3">
           {{form.username }}
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
           {{form.email  }}
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
         
          {{form.password1  }}
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
           {{form.password2  }}
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">
          
          <!-- /.col -->
          <div class="col-4">
            <button type="submit" class="btn btn-primary btn-block">Register</button>
          </div>
          <!-- /.col -->
        </div>
      </form>

      <p> {{form.errors}}  </p>
      <a href="{% url 'login'%}" class="text-center">I already have an account? Login</a>
    </div>
    <!-- /.form-box -->
  </div><!-- /.card -->
</div>
<!-- /.register-box -->
<script>
     var  form_fields = document.getElementsByTagName('input')
          form_fields[1].placeholder ='User name';
          form_fields[2].placeholder ='email';
          form_fields[3].placeholder ='Enter Password';
          form_fields[4].placeholder ='Repeat Password';

        for( var field in form_fields ){
            form_fields[field].className += 'form-control'
        }

 </script>
{% endblock content %}