{% load static %}
<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="#" class="brand-link " style="background-color:#E9ECEF;">
        <img src="{% static 'essential/logo.png' %}" alt="AdminLTE Logo" class="brand-image  "
             style="">
        <span class="brand-text font-weight-heavy" style="color:black;">NITA-U LMS</span>
        <div>
            <span class="brand-text font-weight-heavy"
                  style="color:black;">Hello,  {{ request.user.first_name }} </span>
        </div>

    </a>


    <!-- Sidebar -->
    <div class="sidebar">

        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->



                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link active">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Leave Management
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{% url 'adminDashboard:LeaveListView'%}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>All</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'adminDashboard:approved'%}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Approved Leaves</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'adminDashboard:pending' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Pending Leaves</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'adminDashboard:rejected' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Rejected</p>
                            </a>
                        </li>

                    </ul>
                </li>

                 <li class="nav-item">
                    <a href="{% url 'employeeDashboard:apply' %} " class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Apply for Leave
                        </p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="{% url 'adminDashboard:delegate' %}" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Delegate
                        </p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="{% url 'adminDashboard:monetary_value_all_staff' %}" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Monetary Value
                        </p>
                    </a>
                </li>


                <li class="nav-item">
                    <a href="{% url 'logout' %}" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Logout
                        </p>
                    </a>
                </li>

            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>