{% load static %}
<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="#" class="brand-link">
        <img src="{% static 'essential/logo.png' %}" alt=" Logo" class="brand-image  "
             style="">
        <span class="brand-text font-weight-light">NITA-U LMS</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->


        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
                {% if request.user.is_staff %}
                <li class="nav-item">
                    <a href="{% url 'adminDashboard:adminHome' %} " class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Admin Dashboard
                        </p>
                    </a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a href="{% url 'apply'%} " class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Apply Leave
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'history' %}" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Leave History
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'logout' %}" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Logout
                        </p>
                    </a>
                </li>
            </ul>
            </li>


            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>